<div class="fondo_login"> 
{% extends 'inicio/base.html' %}
{% load static %}
{% block content %}
 

<form method="POST" action="{% url 'entrar' %}" class="col-12" >
{% csrf_token %}


<section class="form-login"> 
    
    <h4>Iniciar Sesión</h5>
        
    <div class="form-group-login" id="user-group">
        <input type="text"  class="controls" name="username"  placeholder="Usuario">
    </div>
    
    <div class="form-group-login" id="contrasena-group" >
        <input type="password" class="controls" name="password"  placeholder="Contraseña">
    </div>
    
    <button class="buttons-login" type="submit" id="btn-signup" ><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    


</section>


{% if error %}
<div class="alert alert-danger ">
    <p>{{error}}</p>
</div>
{% endif %}

</form>


{% endblock %}




         
        
      
