{% extends 'inicio/base.html' %} 
{% load static %}

{% block content %} 


<div class = "container-fluid">
  <div class ="row">
    <div class = "historia-piano col-12 col-lg-6 pl-0 pr-0">
      
      <div>
        <h2> EL PRIMER PIANO </h2>
          <p>El piano fue inventado por Bartolomeo Cristofori (1655-1731) de Italia.
            Cristofori estaba insatisfecho por la carencia del control que los músicos tenían sobre el nivel de volumen del clavicordio. Le acreditan para cambiar hacia fuera el mecanismo que rasgar con un martillo para crear el piano moderno en el año 1709.
            El instrumento fue hecho primero nombrado "clavicembalo col piano e Forte" (literalmente, un clavicordio que puede tocar sonidos suaves y fuertes). Esto se acortó al nombre común ahora, "piano".
            Este piano es el más antiguo del mundo. Data de 1720, y todavía se puede tocar. Es uno de tres instrumentos procedentes del taller de Bartolomeo Cristofori, quien inventó el piano hacia 1700 en la corte florentina de los Médici.
            El primer piano fue fabricado entre 1695 y 1700 por el italiano Bartolomeo Cristofori con el nombre de gravicèmbalo col piano e forte -"clavecín con (sonidos) suaves y fuertes
          </p>
      </div>
    </div>
      <div class = "imagen-piano col-12 col-lg-6 pt-2">
        <img src="{% static 'imagenes/ppiano.png' %}" alt="primer piano">
      </div>
      
  </div>
</div>

      
                  

        
                          

          



{% comment %} 
<div class="text-historia">


    <h4>HISTORIA DEL PIANO </h4>

    <br>


      <p> El piano fue inventado por Bartolomeo Cristofori (1655-1731) de Italia.

        Cristofori estaba insatisfecho por la carencia del control que los músicos tenían sobre el nivel de volumen del clavicordio. Le acreditan para cambiar hacia fuera el mecanismo que rasgar con un martillo para crear el piano moderno en el año 1709.
        
        El instrumento fue hecho primero nombrado "clavicembalo col piano e Forte" (literalmente, un clavicordio que puede tocar sonidos suaves y fuertes). Esto se acortó al nombre común ahora, "piano".</p>
  

</div>
 {% endcomment %}

{% endblock %}